body {
    background-color: #2d2d2d;
    color: white;
    user-select: none;
}

button {
    background-color: #444444;
    border: 2px solid #ffffff80;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-right: 20px;
}

button:hover {
    background-color: #252525;
}

button:active {
    background-color: #444444;
}

button:disabled {
    opacity: 50%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: collapse;
    width: 120px;
    background-color: #252525;
    color: #fff;
    text-align: center;
    border: 2px solid #ffffff80;
    border-radius: 8px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.title {
    position: fixed;
    font-size: large;
    top: 0;
    left: 30px;
}

.menus {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.resources {
    position: fixed;
    height: 200px;
    width: 600px;
    border: 2px solid #ffffff80;
    border-radius: 8px;
    top: 60px;
    left: 20px;
}

.actions {
    position: fixed;
    column-gap: 20px;
    top: 60px;
    left: 650px;
}

.atoms, .molecules, .atom-gens {
    position: relative;
    left: 15px;
}
